server:
  port: 8086

spring:
  application:
    name: cliente-service

  datasource:
    url: jdbc:mysql://localhost:3306/clientes_db
    username: root
    password: 1234

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
