server:
  port: 8888

spring:
  application:
    name: config-server

  cloud:
    config:
      server:
        git:
          uri: https://github.com/elMarce2007/Inkasalud
          default-label: main
          clone-on-start: true
          search-paths:
            - config

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
