server:
  port: 8085

spring:
  application:
    name: auth-service

  config:
    import: optional:configserver:http://localhost:8888

  datasource:
    url: jdbc:mysql://localhost:3306/auth_db
    username: root
    password: 1234

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  security:
    oauth2:
      resourceserver:
        jwt:
          secret-key: inkasalud-super-secret-key-2026-123456

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
